@model WebApplication2.Models.ContactUsModel
@{
    ViewBag.Title = "Contact";
}
@{
    Layout = "~/Views/shared/_Layout.cshtml";
}
<section class="container g-py-100">
    <div class="row g-mb-20">
        <div class="col-lg-6 g-mb-50">
            <h2 class="h1 g-color-black g-font-weight-700 mb-4">How can we assist you?</h2>
        </div>
        <div class="col-lg-3 align-self-end ml-auto g-mb-50">
            <div class="media">
                
            </div>
        </div>
        <div class="col-lg-3 align-self-end ml-auto g-mb-50">
            <div class="media">
                <div class="media-body align-self-center">
                    <h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Email Address</h3>
                    <p class="mb-0">admin@sonictextue.co.uk</p>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "g-py-15", role = "form" }))
    {
        <div class="row justify-content-center">
      
                    <div class="col-md-5">          
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class=" form-group g-mb-20">
                            @Html.LabelFor(m => m.FirstName, new { @class = "g-color-gray-dark-v2 g-font-size-13" })
                            <div class="mb-4">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15", @placeholder = "John"})
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class=" form-group g-mb-20">
                            @Html.LabelFor(m => m.LastName, new { @class = "g-color-gray-dark-v2 g-font-size-13" })
                            <div class="mb-4">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15", @placeholder = "Doe" })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-mb-20">
                            @Html.LabelFor(m => m.Email, new { @class = "g-color-gray-dark-v2 g-font-size-13" })
                            <div class="mb-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15", @placeholder = "johndoe@gmail.com" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-mb-20">
                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "g-color-gray-dark-v2 g-font-size-13" })
                            <div class="mb-4">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15", @placeholder = "+ (01) 222 33 44" })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        </div>
                    <div  class="col-md-7">
                            <div class="g-mb-40">
                                @Html.LabelFor(m => m.Message, new { @class = "g-color-gray-dark-v2 g-font-size-13" })
                                <div class="mb-4">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15",
                                   @rows =12, @placeholder="Hi there, I would like to ...."})
                                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-right">
                                    <button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                       
           
            </div>
    }
</section>